.chat-input {
    display: flex;
    margin: 20px;
    position: relative;
  
    & > div:first-of-type {
      display: flex;
    }
  
    &__smile-btn {
      margin-top: 7px;
      margin-right: 12px;
    }
  
    .anticon {
        cursor: pointer;
        font-size: 24px;
    }
  
    &__emoji-picker {
      position: absolute;
      bottom: 50px;
      z-index: 1;
    }
  
    &__actions {
      display: flex;
      align-items: center;
      width: 70px;
      justify-content: space-between;
      margin-left: 10px;

      &-upload-btn {
        font-size: 24px;
        .anticon {
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        } 
      }
    }
  
    .ant-input {
      padding: 6px 20px 8px;
      font-size: 14px;
      &:focus, &:hover {
        cursor:text;
        box-shadow: none;
        border-color: #b2a9df;
      }
    }
  }