.dialog {
    &__search {
      padding: 2px 20px 20px 20px;
      .ant-input, button {
        background-color: #f7f8f9;
        height: 38px;
        padding: 4px 11px 6px;
        &:focus, &:hover {
          box-shadow: none;
          border-color: #b2a9df;
        }
      }
    }
  }